<footer class="fixed bottom-0 w-full border-y bg-background">
	<div
		class="mx-auto flex w-full max-w-5xl items-center justify-between border-x p-3 sm:p-6"
	>
		<p class="text-sm sm:text-base">
			&copy; {new Date().getFullYear()} by Aglabs
		</p>

		<a
			href="https://github.com/aglabsid/ctros"
			class="text-sm hover:underline sm:text-base"
			target="_blank"
			rel="noopener noreferrer"
		>
			/source
		</a>
	</div>
</footer>
